{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style.css"/>
  </body>
{% if current_user.premium == 1: %}
  <div class="main-wrapper">
    <div class="sl-main-container">
      <div class="sl-header-wrapper">
        <h3>Find It!</h3>
        <br>
        <h5>Movie Edition 🎥</h5>
        <br>
        <p>Can't choose your next movie night? Well look no further...<br><br>
        Set the filters and you'll have your next movie in seconds! <br><br>
        Yes, it's really that easy.
        </p>
        <form action="{{url_for('retry') }}" method="post">
          <button class="btn btn-secondary" role="button">Switch to TV 📺</button>
        </form>
      </div>
        <div class="sl-wrapper">
          <div class="verticalLine">
            <div class="swiper-container2">
              {{render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
            </div>
          </div>
        </div>

{%endif%}
{% if current_user.premium == 0: %}
<div class="main-wrapper">
  <div class="sl-main-container">
    <div class="sl-header-wrapper">
      <h3>Find It!</h3>
      <br>
      <h5>Premium Needed 💰</h5>
      <br>
      <p>For just a small, one time fee, you can have access to our movie section!<br><br>
      This one time fee gives you access for life. No subscriptions. <br><br>
      If you want to stick to tv shows for now, hit the button to move back.
      </p>
      <form action="{{url_for('retry') }}" method="post">
        <button class="btn btn-secondary" role="button">Switch to TV 📺</button>
      </form>
    </div>
    <div class="sl-wrapper">
      <div class="verticalLine">
        <div class="swiper-container2">
          <div class="card">
            <div class="card-img">
              <h1 class="card_header">VIP</h1>
            </div>
            <div class="card-info">
              <p class="text-title">Movie Access!</p>
              <p class="text-body">Get access to finding movies with the click of a button.</p>
            </div>
            <div class="card-footer">
            <span class="text-title">$5.00</span>
              <form action="/create-checkout-session" method="POST">
                <button type="submit" id="checkout-button" class="btn btn-outline-dark">Checkout 🛒</button>
              </form>
          </div></div>
            </div>
        </div>
      </div>
    </div>
{%endif%}
{% include "footer.html" %}